services:
  spamassassin:
    build: spamassassin
    image: vmail-spamassassin:1.7
    volumes:
      - postfix-vm-pop3d-tuning:/etc/tuning
    ports:
      - "783:783"
  postgrey:
    build: postgrey
    image: vmail-postgrey:1.6
    volumes:
      - postfix-vm-pop3d-tuning:/etc/tuning
    ports:
      - "10023:10023"
  smtp:
    build: postfix
    image: vmail-postfix:1.7
    volumes:
      - postfix-vm-pop3d-etc:/etc/virtual
      - postfix-vm-pop3d-spool:/var/spool/virtual
    ports:
      - "25:25"
      - "465:465"
    links:
      - spamassassin
      - postgrey
  pop3:
    build: vmpop3d
    image: vmail-vmpop3d:1.7
    volumes:
      - postfix-vm-pop3d-etc:/etc/virtual
      - postfix-vm-pop3d-spool:/var/spool/virtual
    ports:
      - "110:110"
  stunnel:
    build: stunnel
    image: vmail-stunnel:1.7
    ports:
      - "995:995"
    links:
      - pop3
    volumes:
      - postfix-vm-pop3d-etc-persist:/etc/volume

volumes:
  postfix-vm-pop3d-etc:
  postfix-vm-pop3d-etc-persist:
  postfix-vm-pop3d-spool:
  postfix-vm-pop3d-tuning:
